SupportWave.Librarian/.idea
SupportWave.Librarian/.vs
SupportWave.Librarian/SupportWave.Librarian/bin
SupportWave.Librarian/SupportWave.Librarian/obj
SupportWave.Librarian/SupportWave.Librarian.Data/obj
SupportWave.Librarian/SupportWave.Librarian.Data/bin
SupportWave.Librarian/SupportWave.Librarian.Tests/obj

SupportWave.Librarian/SupportWave.Librarian.Tests/bin/

SupportWave.Librarian/SupportWave.Librarian/www/books.json

SupportWave.Librarian/SupportWave.Librarian.Web/MVC/Librarian.UI/Librarian.UI/obj/

SupportWave.Librarian/SupportWave.Librarian.Web/MVC/Librarian.UI/.idea/
